body{
    margin: 0px;
    font-family: 'Raleway', sans-serif;
    font-family: 'Recursive', sans-serif;
}
.top-banner{
    background-image: url("images/footer-bg.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 200px;
}
.my-journey{
    background-image: url("images/footer-bg.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 200px;
}
h1{
    font-size: 50px;
}
.dp{
    color: burlywood;
}
.un{
    color: orchid;
}
.ln29colour{
    color: rosybrown;
    margin: 0;
    padding: 0;
}
.ls{
    color: tomato;
}
.ln20indent{
   text-indent: 70px;
}
.ln19indent{
    text-indent: 30px;
}

.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}

.one-third{
    width: 25%;
    float: left ;
    margin-left: 5% ;
    padding-left: 1%;
}
.one-third img{
    width: 100%;
}
div{
    margin-top: 40px;
}
.box-design{
    box-shadow: 10px 10px 50px rgb(218, 218, 218);
    border-radius: 5px;
    height: 80% ;
}

.link_button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightSalmon, tomato);
    padding: 10px 10px;
    color: white;
    float:  bold;
}
div.a{
    text-align: center;
}
.delta{
    color: rgb(131, 131, 131);
}
.address{
    color: rgb(42, 54, 58);
}
.pro-colour{
    color: rgb(117, 114, 114);
}